@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit" , sans-serif;
 
}

@theme {
  --color-primary: #489d4b ;
  --color-primary-dull: #62b765 ;
  --font-sans: "Inter", sans-serif;
}


.no-scrollbar::-webkit-scrollbar{
  display: none;
}
